.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  min-height: 100vh;
}

